<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/010b527a19.js" crossorigin="anonymous"></script>
    <!-- font google -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- mio css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Projectone</title>
</head>
<body>
    <div id="app">
        <header>
            <!-- l'unica parte con h statica -->
            <!-- contatti e link socials (sono uguali in footer) -->
            <div class="contacts">
                <div class="container">
                    <div class="phone-numb">
                        <span><i class="fas fa-phone-alt"></i></span>
                        <span>(001)88451234</span>
                        <span>88455438</span>
                    </div>

                    <div class="socials">
                        <span><i class="fab fa-facebook-f"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-pinterest-p"></i></span>
                    </div>
                </div>
            </div>

            <!-- navbar con ul dinamica VUE -->
            <div class="navbar">
                <div class="container flex">
                    <!-- logo -->
                    <div class="logo-container">
                        <img src="images/cropped-Group-39-2x.png" alt="logo">
                    </div>

                    <!-- lista link -->
                    <!-- poi usare v-for con vue! -->
                    <div>
                        <ul class="nav-links-ul">
                            <li v-for="element in navbarLinks">
                                <a :href="element.link"></a>
                                {{element.text}}
                            </li>
                        </ul>
                    </div>

                    <div class="nav-cta">
                        <button class="green-btn">PURCHASE</button>
                        <span><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>

        </header>


        <main>
            <!-- hero section -->
            <section class="hero-section">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="hero-text">
                                <span><strong>17 YEAR OF EXPERIENCE</strong></span>
                                <h1>Focus on Your <br><span>Business</span></h1>
                                <div class="green-line">
                                    <div class="green-small-line"></div>
                                    <div class="green-big-line"></div>
                                </div>
                                <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove</P>
                            </div>

                            <button class="dark-btn">READ MORE</button>

                            <ul class="flex">
                                <li><a href="#"><strong>FACEBOOK</strong></a></li>
                                <li><a href="#"><strong>INSTRAGRAM</strong></a></li>
                                <li><a href="#"><strong>YOUTUBE</strong></a></li>
                                <li><a href="#"><strong>TWITTER</strong></a></li>
                            </ul>

                            <!-- bottone bicolor position absolute -->
                            <div class="hero-button">
                                <button class="flex dark-btn"><span>01</span> <span>03</span></button>
                                <button class="green-btn">02</button>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione 1  -->
            <section class="section-1">
                <div class="container">
                    <div class="row flex">
                        <div class="col-5 text">
                            <h2>We Are Here To Make Your <span>Website</span> Look More <span>Elegant</span> And Stylish!</h2>
                        

                            <div class="green-line">
                                <div class="green-small-line"></div>
                                <div class="green-big-line"></div>
                            </div>

                            <button class="green-btn">VIEW ALL</button>
                        </div>


                        <div class="col-7 squares flex">
                            <div class="white-panel">
                                <div class="img-container">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <h3>Speed Optimization</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia separated...</p>
                                </div>

                            </div>
                            <div class="white-panel">
                                <div class="img-container">
                                    <i class="fas fa-cloud"></i>
                                    <h3>Cloud Solutions</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia separated...</p>
                                </div>

                            </div>
                            <div class="white-panel">
                                <div class="img-container">
                                    <i class="fas fa-tablet-alt"></i>
                                    <h3>Website Design</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia separated...</p>
                                </div>

                            </div>
                            <div class="white-panel">
                                <div class="img-container">
                                    <i class="fas fa-stopwatch"></i>
                                    <h3>Online Marketing</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia separated...</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="vertical-textline">
                        <span>17 years of experience helping people for best solutions</span>
                    </div>
                </div>
            </section>

            <!-- sezione 2 learn more -->
            <section class="section-2">
                <div class="container">
                    <div class="row flex">
                        <div class="col-7 img flex">
                            <div class="img-green-panel">
                                <img src="images/busy-architect-PYVKWM4-1024x872.jpg" alt="architect">
                                <div class="overlay">
                                </div>
                            </div>
                            <div class="img-panel">
                                <img src="images/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" alt="business woman">
                            </div>
                        </div>

                        <div class="col-5 text">
                            <h2>learn more about our <span>mission</span></h2>
                        

                            <div class="green-line">
                                <div class="green-small-line"></div>
                                <div class="green-big-line"></div>
                            </div>

                            <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove</P>

                            <button class="green-btn">READ MORE</button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione 3 griglia -->
            <section class="section-3">
                <div class="container">
                    <div class="row flex">
                        <div class="col-6">
                            <div class="green-line">
                                <div class="green-small-line"></div>
                                <div class="green-big-line"></div>
                            </div>

                            <h2>Our recent <span>web design</span> & some examples of past <span>projects</span></h2>

                        </div>
                        <div class="col-6 grid-p flex">
                            <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove.</P>
                        </div>
                    </div>
                    
                    <div class="green-line">
                        <div class="green-small-line"></div>
                        <div class="green-big-line"></div>
                    </div>

                    <div class="row flex grid">
                        <div class="img-square">
                            <img src="images/ina-soulis-227104-unsplash-1024x1024.jpg" alt="flowers">
                        </div>
                        <div class="img-square">
                            <img src="images/sunisa-misa-531163-unsplash-1024x1024.jpg" alt="luna prk">
                        </div>
                        <div class="img-square">
                            <img src="images/355H-1024x1024.jpg" alt="shoes">
                        </div>
                        <div class="img-square">
                            <img src="images/photo-1448932252197-d19750584e56-1024x1024.jpg" alt="desk">
                        </div>
                        <div class="img-square">
                            <img src="images/business-competition-PB366D8-1024x1024.jpg" alt="paper boats">
                        </div>
                        <div class="img-square">
                            <img src="images/cozy-sofa-in-living-room-PQR5AB9-1024x1024.jpg" alt="sofa">
                        </div>
                        <div class="img-square">
                            <img src="images/aa9a4539-PQGJ7HU-1024x1024.jpg" alt="air balloons">
                        </div>
                        <div class="img-square">
                            <img src="images/cody-davis-253928-unsplash-1024x1024.jpg" alt="orange">
                        </div>

                        <div class="vertical-textline">
                            <span>17 years of experience helping people for best solutions</span>
                        </div>
                    </div>

                    <div class="flex btn-container">
                    <button class="green-btn">READ MORE</button>
                    </div>

                </div>
            </section>

            <!-- sezione 4 pannelli sovrapposti -->
            <section class="section-4">
                <div class="container flex">
                    <div class="img-green-panel flex">
                        <div class="text">
                            <div class="text-center big-text">
                                280
                            </div>
                            <div class="text-center">
                                PROJECTS
                            </div>
                            <div class="flex">
                                <div class="text result-container">
                                    <div class="text-center results">+3,500</div>
                                    <div class="text-center">USERS COMMENT</div>
                                </div>
                                <div class="text result-container">
                                    <div class="text-center results">100%</div>
                                    <div class="text-center">HAPPY CLIENTS</div>
                                </div>
                            </div>

                        </div>
                        <img class="content" src="images/person-with-long-curly-hair-PZ99QM2-2x.jpg" alt="studio">
                        <div class="overlay"></div>
                    </div>

                    <div class="white-panel">
                        <h2>We <span>Love</span> What We Do</h2>
                        <div class="green-line">
                            <div class="green-small-line"></div>
                            <div class="green-big-line"></div>
                        </div>
                        <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove</P>

                        <ul class="pointed-list">
                            <li><i class="fas fa-check"></i>Far far away, behind the word mountains</li>
                            <li><i class="fas fa-check"></i>large language ocean</li>
                            <li><i class="fas fa-check"></i>far from the countries Vokalia and Consonantia</li>
                        </ul>

                    </div>

                </div>

            </section>

            <!-- sezione 4 bis -->
            <section class="section-4bis">
                <div class="container">
                    <div class="row flex">
                        <div class="col-3">
                            <h2>Whith <span>Live Chat 24/7</span> Support</h2>

                            <div class="green-line">
                                <div class="green-small-line"></div>
                                <div class="green-big-line"></div>
                            </div>

                            <P>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</P>
                        </div>

                        <div class="col-3">
                            <div class="white-panel">
                                <div class="dark-banner"></div>

                                <div class="service text-center">
                                    <span>DESIGNING</span>
                                    <p>All designs</p>
                                </div>

                                <div class="dark-background">
                                    <div class="price text-center">
                                        <div>
                                            <span>$ 13</span> / Design
                                        </div>
                                    </div>
                                </div>

                                <div class="pointed-list text-center">
                                    <ul>
                                        <li><i class="fas fa-check"></i>Creative Design Enabled</li>
                                        <li><i class="fas fa-check"></i>Vibrant Color Usage</li>
                                        <li><i class="fas fa-check"></i>Eye Catching Design</li>
                                        <li><i class="fas fa-check"></i>Extreme Typography</li>
                                        <li><i class="fas fa-check"></i>Exceptional Design</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="white-panel">
                                <div class="green-banner"></div>

                                <div class="service text-center">
                                    <span>DEVELOPMENT</span>
                                    <p>WordPress Project</p>
                                </div>

                                <div class="green-background">
                                    <div class="price text-center">
                                        <span>$ 15</span> / Project
                                    </div>
                                </div>

                                <div class="pointed-list text-center">
                                    <ul>
                                        <li><i class="fas fa-check"></i>Creative Design Enabled</li>
                                        <li><i class="fas fa-check"></i>Vibrant Color Usage</li>
                                        <li><i class="fas fa-check"></i>Eye Catching Design</li>
                                        <li><i class="fas fa-check"></i>Extreme Typography</li>
                                        <li><i class="fas fa-check"></i>Exceptional Design</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="white-panel">
                                <div class="dark-banner"></div>

                                <div class="service text-center">
                                    <span>SEO</span>
                                    <p>Web Products</p>
                                </div>

                                <div class="dark-background">
                                    <div class="price text-center">
                                        <span>$ 10</span> / Product
                                    </div>
                                </div>

                                <div class="pointed-list text-center">
                                    <ul>
                                        <li><i class="fas fa-check"></i>Creative Design Enabled</li>
                                        <li><i class="fas fa-check"></i>Vibrant Color Usage</li>
                                        <li><i class="fas fa-check"></i>Eye Catching Design</li>
                                        <li><i class="fas fa-check"></i>Extreme Typography</li>
                                        <li><i class="fas fa-check"></i>Exceptional Design</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione 5 overlay dark -->
            <section class="section-5">
                <div class="overlay"></div>
                <div class="container flex text-center">
                    <span>
                        <i class="fas fa-quote-left"></i>
                    </span>

                    <p>When it comes to barbequing, there are two main schools of throught for the techniques that you can use. Freshly scrambled eggs with applewood smoked bacon <br> - are amazing!</p>

                    <div class="img-container">
                        <img src="images/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" alt="woman">
                    </div>

                    <div class="author">
                        <h3>LISSA DURBIN</h3>
                        <span>Client</span>
                    </div>
                   
                </div>
            </section>

            <!-- sezione 6 -->
            <section class="section-6">
                <div class="container">
                    <div class="row text-center">
                        <h2>Latest News & Our <span>Blog</span></h2>

                        <div class="green-line">
                            <div class="green-small-line"></div>
                            <div class="green-big-line"></div>
                        </div>
                    </div>

                    <div class="row flex columns">
                       <div class="col-4">
                           <div class="img-panel">
                               <img src="images/serious-businesswoman-with-documents-talking-on-P9Q6LX6-1024.jpg" alt="business woman">
                               <div class="white-panel">
                                   <p>
                                       May 24, 2018 by Alex
                                   <p>

                                   <h4> <span><i class="fas fa-circle"></i></span> Marketing Ideas</h4>
                                </div>
                           </div>
                       </div>
                       <div class="col-4">
                           <div class="img-panel">
                               <img src="images/Businessman-at-the-desk-in-his-office-resting--1024x768.jpg" alt="resting">
                               <div class="white-panel">
                                   <p>
                                       May 24, 2018 by Alex
                                   <p>
                                   
                                   <h4><span><i class="fas fa-circle"></i></span> Resting During Working Hours</h4>
                                </div>
                           </div>
                       </div>
                       <div class="col-4">
                           <div class="img-panel">
                               <img src="images/simple-home-office-with-tree-PBXRXYB-large-1024x768.jpg" alt="home office">
                               <div class="white-panel">
                                   <p>
                                       May 24, 2018 by Alex
                                   <p>

                                   <h4><span><i class="fas fa-circle"></i></span> Develop Your Startup Idea</h4>
                                </div>
                           </div>
                       </div>
                    </div>
                </div>

                <div class="btn-container flex">
                    <button class="dark-btn">VIEW ALL POST</button>
                </div>
            </section>

            <!-- sezione 6 bis -->
            <section class="section-6bis">
                <div class="container">
                    <div class="row-p flex">
                        <div class="col-6">
                            <div class="dark-panel flex">
                                <div class="text-center">
                                    <p>Are you ready?</p>
                                    <h4>Start a New Project</h4>
                                </div>
                                
                                <div class="input">
                                    <input type="text" placeholder="Enter Your Email Address">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <div class="green-panel flex">
                                <div class="text-center">
                                    <p>What are you waiting for?</p>
                                    <h4>Let's Talk About Work</h4>
                                </div>
                               
                                <div class="input">
                                    <button class="dark-btn">START NOW</button>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="row-l flex">
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-1-2x.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-9-2x.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-7-2x.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-3-2x.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-4-2x.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="logo-container">
                                <img src="images/client-5-2x.png" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer>
            <div class="container">
                <div class="row flex">
                    <div class="col-3">
                        <div class="logo-container">
                            <img src="images/cropped-Group-39-2x.png" alt="logo">
                        </div>
                        <p>While the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees. While the lovely valley teems with vapour around me.</p>
                    </div>

                    <div class="col-3">
                        <div class="title-list">
                            <h3>QUICk LINES</h3>
                            <div class="green-line">
                                <div class="green-small-line"></div>
                                <div class="green-big-line"></div>
                            </div>
                        </div>

                        <div class="list flex">
                            <ul>
                                <li v-for="element in footerLinks">
                                    <a :href="element.link"></a>
                                    {{element.text}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-3">
                        <h3>CONTACT</h3>
                        <div class="green-line">
                            <div class="green-small-line"></div>
                            <div class="green-big-line"></div>
                        </div>
                        <span>Patricia C.Amadee 4401 Waldeck Street <br> Grapevine Nashville, TX 76051</span>
                        <span><a href="#">info@yourdomain.com</a></span>
                        <span>+99 (0) 101 0000 888</span>
                    </div>

                    <div class="col-3">
                        <h3>LOCATION ON MAP</h3>
                        <div class="green-line">
                            <div class="green-small-line"></div>
                            <div class="green-big-line"></div>
                        </div>
                        <div class="img-container">
                            <img src="images/map.png" alt="map">
                        </div>

                    </div>
                </div>
            </div>
             <!-- schema come banner in alto -->
            <div class="footer-links">
                <div class="container">
                    <div>
                        <span><i class="far fa-copyright"></i></span>
                        <span>2020 PHLOX BUSINESS THEME</span>
                    </div>

                    <div class="socials">
                        <span><i class="fab fa-facebook-f"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-pinterest-p"></i></span>
                    </div>
                </div>
            </div>

        </footer>

        <div class="fixed-btn">
            <div class="white-btn flex">
                <i class="fas fa-arrow-up"></i>
            </div>

            <div class="blue-btn flex">
                <i class="far fa-comment"></i>
            </div>

        </div>
    </div>

    <!-- ricorda bottoni a dx sempre visibili -->
    <script src="script/app.js"></script>
</body>
</html>