@mixin btn {
    padding: ($spacing - 5) ($spacing * 2);
    border: none;
    font-size: $fontSize;
    border-radius: $borderRadiusNtn;
}

.green-btn {
    @include btn;

    background: $gradientGreen;
    color: white;
}

.dark-btn {
    @include btn;

    background: $gradientDark;
    color: white;
}
