*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: $fontSize;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

section {
    padding: $spacing*5 0;
}

h2 {
    color: $darkText;
    font-size: $h2FontSize;
    line-height: $h2LineHeight;
    font-weight: $h2fontWeight;

    span {
        color: $greenText;
    }
}

p {
    color: $defaultTextColor;
    line-height: $pLineHeight;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    height: 100%;
}

.green-line {
    padding: $spacing 0;
    .green-big-line {
        height: 4px;
        width: 40px;
        background: $gradientGreen;
        display: inline-block;
    }
    
    .green-small-line {
        height: 4px;
        width: 7px;
        background: $gradientGreen;
        display: inline-block;
        margin-right: 2px;
    }
}

.vertical-textline {
    color: $black;
    position: absolute;
    transform: rotate(270deg);
}

.pointed-list {
    color: $defaultTextColor;
    padding-top: $spacing*2;

    li {
        padding-top: $spacing;
        
        i {
            padding-right: $spacing/2;
        }
    }

}


