header {
    .contacts {
        background-color: $navbarDarkBackground;
        height: $spacing * 2;
        color: $white;

        .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        span {
            padding-right: $spacing / 2;
        }

        .socials {
            i:hover {
                color:$greenText;
            }
        }
    }

    .navbar {
        padding: $spacing 0;

        .flex {
            justify-content: space-between;
            align-items: center;
        }

        .logo-container {
            height: $spacing * 2;
        }

        .nav-links-ul {
            display: flex;
            color: $defaultTextColor;

            li {
                padding-right: $spacing / 2;

            }
        }

        .nav-cta {
            .green-btn {
                margin-right: $spacing;
            }

            span {
                color: $greenText;
            }
        }
    }
}