// HERO SECTION
.hero-section {
    background-image: url(../../images/Group-35-2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    padding-top: 170px;

    .col-5 {
        position: relative;

        .hero-text {
            span {
                color: $greenText;
                letter-spacing: 5px;
            }
    
            h1 {
                font-size: $titleFontSize;
            }
    
            .green-line {
                padding-bottom: $spacing;
            }
        }

        .dark-btn {
            margin: ($spacing*2) 0;
        }

        ul {
            position: absolute;
            bottom: $spacing;
        }

        .hero-button {
            position: relative;
            left: 75%;

            .dark-btn {
                width: 200px;
                justify-content: space-between;
                margin-bottom: 0;
    
                span {
                    display: inline-block;
                }
            }

            .green-btn {
                padding: ($spacing - 5) ($spacing);
                position: absolute;
                top: 0;
                left: 74px;
                
            }
        }

        a {
            color: $darkText;
            padding-right: $spacing / 2;
        }
    }
}

//SEZIONE 1
.section-1 {
    .text {
        span {
            color: $greenText;
        }

        button {
            margin-top: $spacing;
        }
    }

    .squares {
        flex-wrap: wrap;

        .img-container {
            height: 50px;
        }

        .white-panel {
            flex-basis: 47%;
        }
    }
    
}

//SEZIONE 2 LEARN MORE
.section-2 {
    background-color: $lightGreyBackground;

    .text {
        span {
            color: $greenText;
        }

        h2 {
            padding-right: 120px;
        }
    }

    .img {
        justify-content: space-around;
        position: relative;
    }

}