// HERO SECTION
.hero-section {
    background-color: $lightGreyBackground;
    background-image: url(../../images/Group-35-2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    padding-top: 170px;

    .col-5 {
        position: relative;

        .hero-text {
            span {
                color: $greenText;
                letter-spacing: 5px;
            }
    
            h1 {
                font-size: $titleFontSize;
            }
    
            .green-line {
                padding: ($spacing*2) 0;
            }
        }

        .dark-btn {
            margin: ($spacing*2 + 5) 0;
        }

        ul {
            position: absolute;
            bottom: $spacing;
        }

        .hero-button {
            position: relative;
            left: 80%;

            .dark-btn {
                width: 200px;
                justify-content: space-between;
                margin-bottom: 0;
    
                span {
                    display: inline-block;
                }
            }

            .green-btn {
                padding: ($spacing - 5) ($spacing);
                position: absolute;
                top: 0;
                left: 74px;
                
            }
        }

        a {
            color: $darkText;
            padding-right: $spacing / 2;
        }
    }
}

//SEZIONE 1
.section-1 {

    .container {
        position: relative;

        .vertical-textline {
            right: -172px;
            top: 50%;
        }

        .text {

            h2 {
                padding-top: $spacing*3;
            }
    
            button {
                margin-top: $spacing;
            }
        }
    
        .squares {
            flex-wrap: wrap;
    
            i {
                color: $greenText;
                font-size: 45px;
            }
    
            h3,
            i,
            p {
                padding: ($spacing/2) 0;
    
            }
    
            .white-panel {
                flex-basis: 47%;

                &:hover {
                    background: $gradientGreen;

                    i,
                    h3,
                    p {
                        color: $white;
                    }
                }
            }

        }
    }

    
}

//SEZIONE 2 LEARN MORE
.section-2 {
    background-color: $lightGreyBackground;

    .text {
        h2 {
            padding-right: 120px;
        }

        .green-btn {
            margin: $spacing 0;
        }
    }

    .img {
        justify-content: space-around;
        position: relative;

        .img-green-panel {
            height: 445px;
            width: 57%;
            position: absolute;
            bottom: 50px;
            left: -85px;
            overflow: hidden;
        }

        .img-panel {
            height: 440px;
            width: 60%;
            overflow: hidden;
            z-index: 3;
        }
    }

}

//SEZIONE 3 griglia di img
.section-3 {

    .grid-p {
        flex-direction: column;
        justify-content: flex-end;
    }

    .grid {
        flex-wrap: wrap;
        margin: ($spacing*2) 0 -2px;
        position: relative;

        .img-square{
            width: 23.5%;
            margin: 0 2px;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            .square-hover {
                transition: display 3s;

                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                height: 110%;
                background: $gradientGreenTrans;
                color: $white;
                z-index: 3;
                padding: $spacing;

                flex-direction: column;
                justify-content: flex-end;

                display: none;

                h3,
                span {
                    padding-bottom: $spacing/2;
                }

                h3 {
                    font-size: $mainText;
                }

            }

            &:hover {
                .square-hover {

                    display: flex;
                }
            }
        }

        .vertical-textline {
            right: -172px;
            top: 50%;
        }
        
    }

    .btn-container {
        justify-content: center;
        padding: $spacing*4 0;
    }
}

//SEZIONE 4 pannelli sovrapposti
.section-4 {
    background-color: $lightGreyBackground;
    padding-top: $spacing*10;

    .container {
        position: relative;

        .img-green-panel {
            position: relative;
            width: 53%;
            bottom: 50px;
            height: 600px;
            justify-content: center;
            align-items: center;
    
            .content {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .text {
                z-index: 3;

                .big-text {
                    font-size: 100px;
                }

                .result-container {
                    padding: 0 $spacing*2;
                    margin-top: $spacing*2;


                    &:first-of-type {
                        border-right: 1px solid $white;
                    }
                    
                    .results {
                        font-size: 40px;
                    }
                }

            }
        }
    
        .white-panel {
            z-index: 3;
            width: 54%;
            padding: $spacing*4;
            position: absolute;
            height: 102%;
            right: 0;

            h2 {
                padding-right: $spacing*6;
            }

            .pointed-list {
                i {
                    color: $greenText;
                }
            }
        }
    }
}

//SEZIONE 4BIS
.section-4bis {
    background-color: $lightGreyBackground;

    .col-3 {
        &:first-of-type {
            padding-right: $spacing;
            padding-top: $spacing*4;
            padding-bottom: $spacing*2;
        }
    }

    .white-panel {
        padding: 0 0; 
        height: 100%;
        overflow: hidden;

        .dark-banner {
            height: 10px;
            background: $gradientDark;
        }

        .service,
        .price {
            padding: $spacing;
        }

        .dark-background {
            background: $gradientDark;
            color: $white;
        }

        .green-banner,
        .green-background {
            background: $gradientGreen;
            color: $white;
        }

        .green-banner {
            height: 10px;
        }

        .service {
            span {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .price {
            span {
                font-size: 40px;
                font-weight: lighter;
            }
        }

        
    }
}

//SEZIONE 5 OVERLAY DARK
.section-5 {
    background-image: url(../../images/four-businesspeople-in-a-boardroom-with-paperwork-PC4V8H4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    .overlay {
        @include overlay;
        background: $gradientdarkTrans;
    }

    .container {
        flex-direction: column;
        align-items: center;
        
        p {
            color: $white;
            font-style: italic;
            padding: $spacing*2;
            font-size: $mainText;
            display: inline-block;
            width: 60%;
        };

        .fas {
            color: $greenText;
            font-size: 55px;
        }

        h3 {
            color: $greenText;
        }

        .img-container {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: 2px solid $white;
            overflow: hidden;
            margin: $spacing 0;

            img {
                position: relative;
                right: 8px;
            }
        }

        .author {
            span {
                color: $white;
                padding: $spacing 0;
                
            }
        }
    }

    .container > * {
        z-index: 3;
    }
}

//SEZIONE 6
.section-6 {

    h2 {
        padding: $spacing 0;
    }
    
    .columns {
        margin: 0 -$spacing/2;

        .col-4 {
            position: relative;

            .img-panel {
                margin: $spacing/2;
                height: 340px;
    
                .white-panel {
                    width: 80%;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, +50%);

                    i {
                        color:$greenText;
                        font-size: 6px;
                        vertical-align: middle;
                    }

                    h4 {
                        font-size: $mainText;
                    }
                }
    
                img {
                    width: 100%;
                }
            }
        }
    }

    .btn-container {
        justify-content: center;
        padding-top: ($spacing*4)*2;
    }
}

//SEZIONE 6 bis
.section-6bis {

    .dark-panel,
    .green-panel {
        height: 350px;
        margin: $spacing/2;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


        h4 {
            color: $white;
            font-size: $mainText*2;
            font-weight: lighter;
        }

        p {
            color: $lightGrayText;
        }

    }

    .row-p {
        margin: 0 -$spacing/2;
    }

    .row-l {
        align-items: center;
        padding: $spacing*4 0;
    }

    input {
        @include btn;

        background: $gradientDark;
        color: $defaultTextColor;
    }
}
