.white-panel {
    @include panel;

    background-color: white;
    padding: $spacing;
    border-radius: $borderRadiusPanel;
    margin: $spacing/2;
}

.img-panel {
    @include panel;

    border-radius: $borderRadiusPanel;
}

.img-green-panel {
    border-radius: $borderRadiusPanel*2;
    color: white;

    .overlay {
        @include overlay;
        background: $gradientGreenTrans;
    }

}