$spacing: 20px;
$borderRadiusNtn: 30px;
$pLineHeight: 25px;

$fontSize: 13px;
$titleFontSize: 60px;

$navbarDarkBackground: #3D3D3D;
$gradientGreen: linear-gradient(to right, #96e15f, #08daa2);
$gradientDark: linear-gradient(to right, #3d3d3d, #000000);
$greenText: #00d9a6;
$darkText: #393939;

$defaultTextColor: #888888;