$spacing: 20px;
$borderRadiusNtn: 30px;

$fontSize: 13px;

$navbarDarkBackground: #3D3D3D;
$gradientGreen: linear-gradient(to right, #96e15f, #08daa2);
$greenText: #00d9a6;

$defaultTextColor: #888888;