//spaziatura
$spacing: 20px;

//bottoni
$borderRadiusNtn: 30px;

//lineheight
$pLineHeight: 25px;
$h2LineHeight: 63px;

//font sizes
$fontSize: 13px;
$titleFontSize: 65px;
$h2FontSize: 57px;

//font weight
$h2fontWeight: 100;

//colori background
$navbarDarkBackground: #3D3D3D;
$gradientGreen: linear-gradient(to right, #96e15f, #08daa2);
$gradientDark: linear-gradient(to right, #3d3d3d, #000000);
$gradientDarkLeft: linear-gradient(to left, #3d3d3d, #000000);
$lightGreyBackground: #f9f9f9;
$gradientGreenTrans: linear-gradient(to bottom, #96e15fb3, #08daa2b3);
$gradientdarkTrans: linear-gradient(to left, #3d3d3de6, #000000e6);
$blueButtonBg: #527ceb;

//colori testi
$greenText: #00d9a6;
$darkText: #393939;
$defaultTextColor: #888888;
$black: #000000;
$white: #ffffff;

//panels
$shadowsColor: #bbbbbb;
$borderRadiusPanel: 9px;

